groot.code-workspace
groot.csproj
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net9.0/groot
bin/Debug/net9.0/groot.deps.json
bin/Debug/net9.0/groot.dll
bin/Debug/net9.0/groot.pdb
bin/Debug/net9.0/groot.runtimeconfig.json
bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Groot/Groot.csproj
obj/groot.csproj.nuget.dgspec.json
obj/groot.csproj.nuget.g.props
obj/groot.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost
obj/Debug/net9.0/groot.AssemblyInfo.cs
obj/Debug/net9.0/groot.AssemblyInfoInputs.cache
obj/Debug/net9.0/groot.assets.cache
obj/Debug/net9.0/groot.csproj.AssemblyReference.cache
obj/Debug/net9.0/groot.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/groot.csproj.FileListAbsolute.txt
obj/Debug/net9.0/groot.csproj.Up2Date
obj/Debug/net9.0/groot.dll
obj/Debug/net9.0/groot.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/groot.genruntimeconfig.cache
obj/Debug/net9.0/groot.pdb
obj/Debug/net9.0/groot.sourcelink.json
obj/Debug/net9.0/ref/groot.dll
obj/Debug/net9.0/refint/groot.dll
