groot.code-workspace
groot.csproj
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net9.0/groot
bin/Debug/net9.0/groot.deps.json
bin/Debug/net9.0/groot.dll
bin/Debug/net9.0/groot.pdb
bin/Debug/net9.0/groot.runtimeconfig.json
bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Groot/Groot.csproj
obj/groot.csproj.nuget.dgspec.json
obj/groot.csproj.nuget.g.props
obj/groot.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost
obj/Debug/net9.0/groot.AssemblyInfo.cs
obj/Debug/net9.0/groot.AssemblyInfoInputs.cache
obj/Debug/net9.0/groot.assets.cache
obj/Debug/net9.0/groot.csproj.AssemblyReference.cache
obj/Debug/net9.0/groot.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/groot.csproj.FileListAbsolute.txt
obj/Debug/net9.0/groot.csproj.Up2Date
obj/Debug/net9.0/groot.dll
obj/Debug/net9.0/groot.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/groot.genruntimeconfig.cache
obj/Debug/net9.0/groot.pdb
obj/Debug/net9.0/groot.sourcelink.json
obj/Debug/net9.0/ref/groot.dll
obj/Debug/net9.0/refint/groot.dll
Groot/.vscode/launch.json
Groot/.vscode/tasks.json
Groot/bin/Debug/net9.0/Groot
Groot/bin/Debug/net9.0/Groot.deps.json
Groot/bin/Debug/net9.0/Groot.dll
Groot/bin/Debug/net9.0/Groot.pdb
Groot/bin/Debug/net9.0/Groot.runtimeconfig.json
Groot/obj/Groot.csproj.nuget.dgspec.json
Groot/obj/Groot.csproj.nuget.g.props
Groot/obj/Groot.csproj.nuget.g.targets
Groot/obj/project.assets.json
Groot/obj/project.nuget.cache
Groot/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Groot/obj/Debug/net9.0/apphost
Groot/obj/Debug/net9.0/Groot.AssemblyInfo.cs
Groot/obj/Debug/net9.0/Groot.AssemblyInfoInputs.cache
Groot/obj/Debug/net9.0/Groot.assets.cache
Groot/obj/Debug/net9.0/Groot.csproj.CoreCompileInputs.cache
Groot/obj/Debug/net9.0/Groot.csproj.FileListAbsolute.txt
Groot/obj/Debug/net9.0/Groot.dll
Groot/obj/Debug/net9.0/Groot.GeneratedMSBuildEditorConfig.editorconfig
Groot/obj/Debug/net9.0/Groot.genruntimeconfig.cache
Groot/obj/Debug/net9.0/Groot.GlobalUsings.g.cs
Groot/obj/Debug/net9.0/Groot.pdb
Groot/obj/Debug/net9.0/Groot.sourcelink.json
Groot/obj/Debug/net9.0/ref/Groot.dll
Groot/obj/Debug/net9.0/refint/Groot.dll
GrootProject/bin/Debug/net9.0/groot_pr.dll
GrootProject/bin/Debug/net9.0/groot_pr.pdb
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfo.cs
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfoInputs.cache
GrootProject/obj/Debug/net9.0/groot_pr.dll
GrootProject/obj/Debug/net9.0/groot_pr.pdb
GrootProject/obj/Debug/net9.0/groot_pr.sourcelink.json
GrootProject/obj/Debug/net9.0/ref/groot_pr.dll
GrootProject/obj/Debug/net9.0/refint/groot_pr.dll
GrootProject/bin/Debug/net9.0/groot_pr.dll
GrootProject/bin/Debug/net9.0/groot_pr.pdb
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfo.cs
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfoInputs.cache
GrootProject/obj/Debug/net9.0/groot_pr.dll
GrootProject/obj/Debug/net9.0/groot_pr.pdb
GrootProject/obj/Debug/net9.0/groot_pr.sourcelink.json
GrootProject/obj/Debug/net9.0/ref/groot_pr.dll
GrootProject/obj/Debug/net9.0/refint/groot_pr.dll
GrootProject/bin/Debug/net9.0/groot_pr.dll
GrootProject/bin/Debug/net9.0/groot_pr.pdb
GrootProject/obj/groot_pr.csproj.nuget.dgspec.json
GrootProject/obj/groot_pr.csproj.nuget.g.props
GrootProject/obj/project.assets.json
GrootProject/obj/project.nuget.cache
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfo.cs
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfoInputs.cache
GrootProject/obj/Debug/net9.0/groot_pr.assets.cache
GrootProject/obj/Debug/net9.0/groot_pr.csproj.AssemblyReference.cache
GrootProject/obj/Debug/net9.0/groot_pr.dll
GrootProject/obj/Debug/net9.0/groot_pr.GeneratedMSBuildEditorConfig.editorconfig
GrootProject/obj/Debug/net9.0/groot_pr.pdb
GrootProject/obj/Debug/net9.0/groot_pr.sourcelink.json
GrootProject/obj/Debug/net9.0/ref/groot_pr.dll
GrootProject/obj/Debug/net9.0/refint/groot_pr.dll
GrootProject/bin/Debug/net9.0/groot_pr
GrootProject/bin/Debug/net9.0/groot_pr.dll
GrootProject/bin/Debug/net9.0/groot_pr.pdb
GrootProject/obj/groot_pr.csproj.nuget.dgspec.json
GrootProject/obj/groot_pr.csproj.nuget.g.props
GrootProject/obj/project.assets.json
GrootProject/obj/project.nuget.cache
GrootProject/obj/Debug/net9.0/apphost
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfo.cs
GrootProject/obj/Debug/net9.0/groot_pr.AssemblyInfoInputs.cache
GrootProject/obj/Debug/net9.0/groot_pr.assets.cache
GrootProject/obj/Debug/net9.0/groot_pr.csproj.AssemblyReference.cache
GrootProject/obj/Debug/net9.0/groot_pr.csproj.CoreCompileInputs.cache
GrootProject/obj/Debug/net9.0/groot_pr.dll
GrootProject/obj/Debug/net9.0/groot_pr.GeneratedMSBuildEditorConfig.editorconfig
GrootProject/obj/Debug/net9.0/groot_pr.genruntimeconfig.cache
GrootProject/obj/Debug/net9.0/groot_pr.pdb
GrootProject/obj/Debug/net9.0/groot_pr.sourcelink.json
GrootProject/obj/Debug/net9.0/ref/groot_pr.dll
GrootProject/obj/Debug/net9.0/refint/groot_pr.dll
